version: "1.0"

services:
  db:
    build: ./postgres
    container_name: postgres
    environment:
      POSTGRES_DB: asset_recommendation
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data

  server:
    build: ./server
    container_name: asset-recommendation-server
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: asset_recommendation
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "8000:8000"
    depends_on:
      - db


